{% extends "base.html" %}



{% block title %}要約作成{% endblock %}

{% block styles %}
{{super()}}
<style>
 .summary-nowrap {
   overflow: hidden;
 }
</style>
{% endblock styles %}

{% block navbar %}{{super()}}
{% endblock navbar %}


{% block content %}

<div class="card" style="width: 18rem;" >

  <div class="alert alert-primary" role="alert">
    Change Password
  </div>

  <form action="/changepassword" method="post">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Old Password</span>
      </div>
      <input type="password" class="form-control" placeholder="old password" aria-label="oldpassword" aria-describedby="basic-addon2" name="password" value="{{request.form.password }}">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">New Password</span>
      </div>
      <input type="password" class="form-control" placeholder="new password" aria-label="newpassword" aria-describedby="basic-addon2" name="password1" value="{{request.form.password1 }}">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Confirm Password</span>
      </div>
      <input type="password" class="form-control" placeholder="confirm password" aria-label="confirmpassword" aria-describedby="basic-addon2" name="password2" value="{{request.form.password2 }}">
    </div>

    <input class="btn btn-outline-primary" type="submit" value="Change Password">
  </form>

</div>


{% endblock  content %}

{% block scripts %}{{super()}}
{% endblock  scripts %}
